.auth-card-wrapper {
  display: flex;
  justify-content: center;
}

.auth-card {
  width: 30%;
  height: 60%;
  margin-top: 3em;
}

.auth-card-title {
  text-align: center;
  padding-top: 1em;
}

.left-btn {
  float: left;
  width: 45%;
  margin-top: 1em;
}

.right-btn {
  float: right;
  width: 45%;
  margin-top: 1em;
}

.mid-btn {
  float: right;
  width: 100%;
  margin-top: 1em;
}

.forgot-password {
  margin-top: 6em;
}

.google-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.security-select {
  margin: 0em 1em 1em 0em;
}

.back-to-login {
  text-align: center;
  margin-bottom: 1em;
}
