.home-block-1-ep {
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 5%;
  background-size: cover;
  background-position: center;
  height: auto;
  width: auto;
  opacity: 1;
  align-content: middle;

  .div-1-ep {
    padding-bottom: 5%;
    padding-top: 5%;
    .proj-title-h,
    .num-ppl-h,
    .proj-descrip-h {
      margin-left: 5%;
      margin-right: -5%;
      margin-bottom: 1.5%;
    }

    .dropdown {
      margin-left: 5%;
      margin-bottom: 5%;
    }
    .editor-top {
      margin-left: 5%;
      margin-bottom: 3%;
    }
  }
}
.header2-text-ep {
  margin-left: 20%;
  padding-bottom: 2.5%;
}
.label {
  margin-left: 11%;
}
.input {
  margin-left: 1%;
}
.other-row {
  margin-right: 5%;
  margin-left: 10%;
  margin-bottom: 2.5%;
  margin-top: -1.5%;
  display: flex;
}
.proj-title {
  margin-left: 40%;
  margin-right: 30%;
}
.header2-text-ep-other {
  margin-top: 1%;
  margin-left: 12%;
  margin-right: 30%;
}
.button-add {
  margin-left: 12%;
  margin-right: 1%;
}
.divider-stage {
  margin-right: 25%;
  margin-left: 25%;
  margin-bottom: 0%;
}
.column {
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 1%;
}
.inspiration-btn,
.ideation-btn {
  margin-right: 1%;
}
.delete-btn {
  margin-left: 44%;
  a {
    color: #fff;
  }
}
.stages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.edit-form {
  border: thin gray solid;
}
.grp-sizes-list {
  table-layout: fixed;
  width: 200px;
  max-width: 100%;
  margin-bottom: 3%;
  margin-left: 5%;
}
