.template-h {
  margin-left: 40%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.stage-num {
  margin-left: 35%;
  margin-bottom: 2%;
}
.template-h2 {
  margin-left: 35.5%;
  margin-bottom: 1%;
}
.stage,
.inspiration,
.ideation,
.implementation {
  margin-left: 70%;
  margin-right: 20%;
}
.btn-1,
.btn-2,
.btn-3 {
  margin-right: 1%;
}
.btn-1 {
  margin-left: 57%;
}
