.home-block-1 {
  background-image: radial-gradient(
      50% 141%,
      rgba(11, 47, 129, 0.6) 1%,
      rgba(43, 134, 161, 0.651) 100%
    ),
    url("/asset/images/splash.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: auto;
  opacity: 1;
  align-content: middle;
}
.home-block-col {
  margin: auto;
}
.header-row {
  margin-top: 10px;
  height: 1vh;
}
.header2-text {
  color: black;
  font-weight: bold;
  font-size: 10vh;
  text-align: middle;
}
.text-link {
  color: darkblue;
  text-align: left;
}
.header-text {
  color: black;
  font-weight: bold;
  text-align: left;
}
.header-img {
  width: 70%;
  height: auto;
}
.header-img:hover {
  cursor: pointer;
}
.body-text {
  color: white;
  font-size: 20px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-title {
  padding: 30px;
}

.padded-container {
  padding: 30px;
}

.search-bar {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 30px;
  width: 50%;
}

.dropdowns {
  display: flex;
  flex-shrink: 3;
  justify-content: space-between;
}

.un-goals-list,
.country-list,
.grp-sizes-list,
.difficulty-list {
  table-layout: fixed;
  width: 200px;
  flex-shrink: 3;
  max-width: 100%;
}

.input {
  text-align: center;
  flex-shrink: 3;
}

.notifications-icon {
  vertical-align: middle;
  margin-top: 35px;
  margin-right: -20px;
  color: grey;
}

.user-icon {
  vertical-align: middle;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: -100px;
  color: grey;
}

.project-card {
  height: 300px;
  width: 350px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 13px;
}

.padding {
  margin-top: 30px;
}

.sdg-general-info {
  padding-bottom: 30px;
}

.sdg-card {
  margin: 1.5px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  font-size: 13px;
}
.sdg-card:hover {
  border-width: 2px;
  border-color: darkblue;
  margin: 0.5px;
}
.sdg-row {
  margin-top: 50px;
}
.sdg-col {
  padding: 0px;
}
