body {
  background-color: #eee;
  font-family: Arvo, serif;
  font-weight: bold;
  color: #003366;
}
.figures-img {
  display: block;
  width: 100%;
  height: auto;
}
.home-main-box {
  position: relative;
  width: 100%;
  background-color: white;
  padding: 0 !important;
  max-width: none !important;
}
.home-title {
  position: absolute;
  top: 0;
  margin-left: -27rem;
  left: 50%;
  width: 100%;
  color: white;
  font-size: 3.75rem;
  line-height: 4rem;
  width: 54rem;
  padding-top: 2.1875rem;
  text-align: center;
}
.home-subtitle {
  position: absolute;
  text-align: center;
  top: 11rem;
  left: 50%;
  margin-left: -17.5rem;
  color: #ffffff;
  font-family: Lato;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  width: 35rem;
}
.explore-button {
  position: absolute;
  top: 16rem;
  left: 50%;
  margin-left: -12rem;
  height: 3.25rem;
  width: 24.375rem;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.875rem;
  color: #003366;
  background: #ffcc66;
  margin-top: 1rem;
}
.home-intro-box {
  padding-top: 1rem;
  height: 38.6875rem;
  background: white;
  max-width: none !important;
}
.art-row {
  padding-top: 2.5rem;
  padding-bottom: 4.1875rem;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
}
.figma-art-col-left {
  float: left;
}
.figma-img {
  height: 32rem;
  width: 39.6875rem;
}
.spacer-left {
  min-width: 5vw;
  width: auto;
}
.figma-art-col-right {
  float: right;
  padding-left: 1.875rem;
  display: flex;
  align-items: center;
  padding-top: 5rem;
}
.about-text {
  font-size: 0.875rem;
}
.hcd-title {
  padding-top: 0.8125rem;
  font-size: 2.75rem;
  max-width: 27.8125rem;
  line-height: 3.5rem;
}
.hcd-desc {
  font-family: Lato;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-top: 0.8125rem;
  max-width: 27.8125rem;
  color: #33cccc;
}
.home-featured-box {
  background-color: rgba(#99ffff, 0.4);
  height: 31.0625rem;
}
.home-sdg-title,
.home-featured-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.featured-carousel {
  margin-left: auto;
  margin-right: auto;
}
.home-sdg-box {
  padding-bottom: 1rem;
}
.home-sdg-desc {
  height: auto;
  width: 50rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.125rem;
  text-align: center;
}
.hp-sdg-row {
  padding-left: 5%;
  padding-right: 5%;
}
.sdg-col {
  padding: 0;
}
.sdg-card-back,
.sdg-card {
  color: white;
  margin: 0.5rem;
  cursor: pointer;
  width: auto;
  height: auto;
  font-size: 0.8125rem;
}
.sdg-card-back:hover,
.sdg-card:hover {
  border-width: 2px;
  border-color: #003366;
}
.sdg-card-back {
  position: relative;
}
.sdg-card-back-img {
  display: block;
  opacity: 0;
}
.sdg-card-desc {
  position: absolute;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
}
.hp-featured-card-deck {
  width: 97.5%;
  margin-left: auto;
  margin-right: auto;
}
.hp-card-img {
  max-height: 13.4375rem;
  width: auto;
}
.hp-featured-card {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 0.5rem;
}
.hp-featured-card:hover {
  border: 1px solid #33cccc;
}
.hp-featured-body {
  padding-top: 0.3125rem;
  padding-left: 0.9375rem;
  padding-right: 1.125rem;
  font-weight: lighter;
  font-size: 0.875rem;
  padding-bottom: 0.625rem;
}
.hp-featured-caption-title {
  padding-top: 0.25rem;
  font-size: 1.125rem;
  margin-bottom: 0rem;
}
.hp-featured-description {
  color: rgba(#003366, 0.75);
  font-family: Lato;
  line-height: 1.0625rem;
  text-align: left;
}
.hp-featured-footer {
  margin-top: 0.75rem;
  margin-left: 0.8125rem;
  color: #33cccc;
}
.hp-featured-interactions {
  float: right;
  font-size: 1.125rem;
}
.hp-featured-comment-icon {
  margin-left: 0.125rem;
  height: 1.25rem;
  width: 1.25rem;
  margin-right: 0.75rem;
}
.hp-featured-like-icon {
  margin-left: 0.25rem;
  height: 1.25rem;
  width: auto;
  margin-bottom: 0.375rem;
}
