.home-block-1 {
  background-image: radial-gradient(
      50% 141%,
      rgba(12, 64, 184, 0.6) 1%,
      rgba(36, 167, 149, 0.651) 100%
    ),
    url("/asset/images/stock-ocean.jpg");
  background-size: cover;
  background-position: center;
  height: 60vh;
  width: auto;
  opacity: 0.99;
  align-content: middle;
}
.profile-header {
  background-image: radial-gradient(
      50% 141%,
      rgba(12, 64, 184, 0.6) 1%,
      rgba(36, 167, 149, 0.651) 100%
    ),
    url("/Users/ashwinsaxena/Hack4Impact/kids-save-ocean/client/public/homepage-images/stock-ocean.jpg");
  height: 10em;
}
.home-block-col {
  margin: auto;
}
.modal-row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.bottom-row {
  margin-top: 3em;
}
.modal-form {
  color: black;
  text-align: left;
  font-size: 1.15em;
}
.modal-form-2 {
  color: black;
  font-size: 1.15em;
}
.form-input {
  border-radius: 10px;
}
.form-input-description {
  border-radius: 10px;
  height: 10em;
}

.first-row {
  height: 0.75em;
  background-image: radial-gradient(
      50% 141%,
      rgba(11, 47, 129, 0.6) 1%,
      rgba(43, 134, 161, 0.651) 100%
    ),
    url("/asset/images/splash.jpg");
}
.header2-text {
  color: black;
  font-weight: bold;
  font-size: 10vh;
  text-align: middle;
}
.text-link {
  color: darkblue;
  text-align: left;
}
.header-text {
  color: black;
  font-weight: bold;
  text-align: left;
}
.header-modal-text {
  color: black;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  align-content: center;
  width: 100%;
}

.body-text {
  color: white;
  font-size: 20px;
  height: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-title {
  padding: 1.5em;
}

.padded-container {
  padding: 30px;
}

.home-page-btns {
  display: flex;
}

.primary-btn,
.second-btn {
  display: flex;
  margin-bottom: 20px;
}

.primary-btn {
  display: flex;
  margin-right: 80px;
  margin-left: 50px;
}

.search-bar {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 30px;
  width: 50%;
}

.dropdowns {
  display: flex;
  flex-shrink: 3;
  justify-content: space-between;
}

.un-goals-list,
.country-list,
.grp-sizes-list,
.difficulty-list {
  table-layout: fixed;
  width: 200px;
  max-width: 100%;
}

.input {
  display: flex;
  text-align: center;
  flex-shrink: 3;
}

.notifications-icon {
  display: flex;
  vertical-align: middle;
  margin-top: 35px;
  margin-right: -20px;
  color: grey;
}

.user-icon {
  display: flex;
  vertical-align: middle;
  margin-top: 35px;
  margin-left: 50px;
  margin-right: -100px;
  color: grey;
}

.padding {
  margin-top: 30px;
}

.sdg-general-info {
  padding-bottom: 30px;
}

.sdg-card {
  margin: 1.5px;
  cursor: pointer;
  width: 200px;
  height: 200px;
  font-size: 13px;
}
.select-sdg {
  width: 10em;
  border-radius: 10em;
}
.sdg-card:hover {
  border-width: 2px;
  border-color: darkblue;
  margin: 0.5px;
}
.sdg-row {
  margin-top: 50px;
}
.sdg-col {
  padding: 0px;
}
.button-design {
  background-color: rgba(5, 7, 126, 0.616);
  border-color: rgba(12, 46, 240, 0.685);

  a {
    color: #fff;
  }
}
.button-design:hover {
  background-color: rgba(5, 46, 143, 0.6);
  border-color: rgba(12, 46, 240, 0.685);
}
.button-design-2 {
  background-color: rgba(5, 7, 126, 0.616);
  border-color: rgba(12, 46, 240, 0.685);
  border-radius: 1em;
  width: 30%;
}
.button-design-2:hover {
  background-color: rgba(5, 46, 143, 0.6);
  border-color: rgba(12, 46, 240, 0.685);
}

.project-form-modal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: none;

  .modal-content {
    padding: 2em;
    width: 40vw;
    margin: 0;
  }

  .modal-header {
    justify-content: center;
  }

  .modal-footer {
    justify-content: center;
  }
}
