.auth-card-wrapper {
    display: flex;
    justify-content: center;
  }

  .titlePage{
    font-size: 3rem;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 7.5%;
    color: #003366 ;
  }
  .auth-card {
    width: 75%;
    height: 60%;
    margin-top: 3em;
  }
  
  .auth-card-title {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
  }

  .auth-card-title-register {
    text-align: center;
    padding-top: 0;
    padding-bottom: 2rem;
    margin-top: -7rem;
  }
  
  .login-register-left-btn {
    float: left;
    width: 25%;
    margin-right: 7%;
    margin-left: 25%;
    margin-top: 1em;
    background-color: #FFCC66;
    border-radius: 15px;
    color: #003366;
    border: none;
  }
  
  .login-register-left-btn:hover {
    background-color: #003366;
    color:  #FFCC66;
    border: none;
  }
  
  .login-register-right-btn {
    float: right;
    width: 25%;
    margin-top: 1em;
    background-color: #FFCC66;
    border-radius: 15px;
    color: #003366;
    border: none;
  }
  
  .login-register-right-btn:hover {
    background-color: #003366;
    color:  #FFCC66;
    border: none;
  }
  
  .mid-btn {
    float: middle;
    width: 100%;
    margin-top: 1em;
  }
  
  .forgot-password {
    margin-top: 2em;
    margin-left: 44%;
  }
  
  .google-btn-wrapper {
    display: flex;
    justify-content: center;
    float: middle;
    margin-top: 1em;
  }
  
  .security-select {
    margin: 0em 1em 1em 0em;
  }
  
  .back-to-login {
    text-align: center;
    margin-bottom: 1em;
  }
  .home-block-1-ep {
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 5%;
    background-image: radial-gradient(
        50% 141%,
        rgba(11, 47, 129, 0.6) 1%,
        rgba(43, 134, 161, 0.651) 100%
      ),
      url("/asset/images/splash.jpg");
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
    opacity: 1;
    align-content: middle;
  }
.stock-photo{
    margin-top: 1%;
    background-color: blue;
    height: 5%;
}

.columnLeft{
  background: #74D8C2;
  height: 100vh;
  position: relative;
  max-height: 100% !important;
  box-sizing: border-box;
  font-family: Arvo;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  display: flex;
  color: #003366;
  margin-bottom: 0;
  z-index: -1;
}

.columnRight {
  background: white;
}

body {
  padding: 0;
}

.parentRow {
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
}

.login-man-img {
  bottom: 0;
  position: fixed;
  margin-bottom: 5rem;
  left: 10%;
  transform: translateX(-10%);
  z-index: -1;
}

.login-tree-img {
  bottom: -50px;
  left: -40%;
  transform: translateX(35%);
  position: fixed;
}

.login-tree-img2 {
  bottom: -50px;
  left: 18%;
  transform: translateX(-14%);
  position: fixed;
}

.login-sun-img {
  top: 4rem;
  left: 44%;
  transform: translateX(-44%);
  position: fixed;
  z-index: -1;
}

.motto{
  font-size: 3rem;
  margin-top: 9rem;
  margin-left: 5%;
  margin-right: 5%;
}

.vertAlign {
  margin-top: 1%;
  margin-bottom: 2%;
}

.colBoxes{
  text-align: center;
  margin-top: 20%;
}

.rowInput{
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3.5%;
}

.suButton {
  margin-left: auto;
  margin-right: auto;
  background: #FFCC66;
  color: #003366;
  border: transparent;
  margin-top: 3.5%;
}

.textField {
  font-size: 1.0rem;
}

.login-outer {
  font-family: Arvo;
  font-style: normal;
  font-weight: normal;
  color: #003366;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30%;
}

.login-register-input {
  box-sizing: border-box;
  box-shadow: none !important;
  outline-color: #33CCCC !important; 
  outline-style: auto !important; 
  outline-width: .1rem !important;
}