.header-row {
  height: 5em;
  background-image: radial-gradient(
      50% 141%,
      rgba(11, 47, 129, 0.6) 1%,
      rgba(43, 134, 161, 0.651) 100%
    ),
    url("/asset/images/splash.jpg");
  vertical-align: top;
  padding: 0.5em;

  .col-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.header-img {
  height: 3em;
  width: auto;
}
.header-img:hover {
  cursor: pointer;
}
