body {
  padding-top: 5em;
}
.notification-img {
  height: 3em;
  width: auto;
  margin-left: 1.5em;
  margin-right: 0.75em;
}
.user-img {
  height: 3em;
  width: auto;
  margin-left: 0.75em;
}
.navbar-color {
  background-color: white;
}
.icon-settings {
  margin-top: 0.25em;
}
.button-create {
  background-color: rgb(254, 204, 102);
  border-color: rgba(0, 51, 102, 0.685);
  color: rgb(0, 51, 102);
  border-radius: 0.9em;
  font-style: bolder;
  font-size: larger;
  width: 70%;
  margin-top: 0.25em;
  border-width: 0.05em;
}
.button-create:hover {
  background-color: rgb(254, 243, 119);
  border-color: rgba(0, 51, 102, 0.685);
  color: rgb(0, 51, 102);
  border-radius: 0.9em;
  font-style: bolder;
  font-size: larger;
  width: 70%;
  margin-top: 0.25em;
  border-width: 0.05em;
}
