.gantt-container {
  white-space: nowrap;
  width: 80vw;
  overflow-x: scroll;
  margin-left: 50%;
  transform: translateX(-50%);
}

.gantt-chart {
  display: inline-block;
  // overflow-y: scroll;
  // height: 80vh;
  // width: 125%;
}
