.project-form-modal {
  max-width: 38.5rem;
  .modal-content {
    padding-left: 1.875rem;
    padding-top: 1rem;
    padding-right: 2.5rem;
    padding-bottom: 2.375rem;
    border-radius: 22px;
  }
}
.header-modal-text {
  color: black;
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  height: 2.8125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.3125rem;
}
.form-required-label:after {
  padding-left: 0.3125rem;
  color: #cb2431;
  content: "*";
}
.form-required-label,
.form-label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  padding-left: 0.125rem;
  height: 2.125rem;
  color: #000000;
  margin: 0;
}
.project-desc-input {
  min-height: 7.75rem !important;
}
.project-desc-input,
.project-title-input {
  min-height: 1.875rem;
  height: auto;
  border: 1px solid #bdbdbd;
}
.project-desc-input,
.project-title-input,
.project-select {
  margin-top: 0.3125rem;
  border-radius: 11px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: #8f8f8f;
  margin-bottom: 0.625rem;
}
.right-col {
  margin-left: 0;
}
.left-col {
  margin-right: 0.3125rem;
}
.desc-form {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.button-modal {
  background-color: rgba(#003366, 1);
  border-radius: 15px;
  width: 8.25rem;
  height: 2.315rem;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arvo, serif;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1rem;
  color: white;
}
.button-modal:hover {
  background-color: rgba(#003366, 0.85);
  transition: 0.2s;
}
