.page-title {
  padding: 20px;
  text-align: center;
}

.page-description {
  padding-left: 10vw;
  padding-right: 10vw;
}

hr {
  border-width: 3px;
  border-radius: 2px;
  width: 84vw;
  border-top-color: #bbb;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  font-size: 24px;
}

.gantt-container {
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.tipcard-cols {
  display: flex;
  width: 80vw;
  margin: 20px 50% 20px 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
}
