.project-form-modal {
  max-width: 34.5rem;
  border-radius: 33px;
  .modal-content {
    background-color: white;
    padding-left: 1.375rem;
    padding-top: 1rem;
    padding-right: 1.875rem;
    padding-bottom: 1.625rem;
    border-radius: 33px;
    max-height: 46rem;
    overflow-x: hidden;
  }
}
.sdg-row {
  margin: 0 !important;
}
.header-modal-text {
  color: black;
  font-family: Arvo, serif;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  height: 2.8125rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.3125rem;
}
.sdg-required-label {
  float: left;
}
.sdg-required-label:after,
.form-required-label:after {
  padding-left: 0.3125rem;
  color: #cb2431;
  content: "*";
}
.sdg-required-label,
.form-required-label,
.form-label {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 1.125rem;
  padding-left: 0.125rem;
  height: 2.125rem;
  color: #000000;
  margin: 0;
}
.project-desc-input {
  min-height: 7.75rem !important;
}

.validating-div {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  font-family: Arvo, serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 0.875rem;
}
.error-message {
  display: inline-block;
  vertical-align: middle;
}
.invalid-alert:before {
  content: " ";
  display: inline-block;
  vertical-align: middle; /* vertical alignment of the inline element */
  height: 100%;
}
.invalid-alert {
  height: 74px;
  justify-content: center;
  text-align: center;
}
.form-control:focus {
  border-color: #2684ff;
  border-width: 1px;
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}
.project-desc-input,
.project-title-input {
  min-height: 2.5rem;
  height: auto;
  border: 1px solid #bdbdbd;
}
.project-desc-input,
.project-title-input,
.project-select {
  margin-top: 0.3125rem;
  border-radius: 11px !important;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: #8f8f8f;
  margin-bottom: 0.625rem;
  font-family: Lato;
  font-weight: 300;
}
.right-col {
  margin-left: 0;
}
.left-col {
  margin-right: 0.3125rem;
}
.desc-form {
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.char-count {
  margin-bottom: 1rem;
  color: #949494;
  font-size: 12px;
  font-weight: normal;
  font-family: Lato;
  margin-left: 0.25rem;
}

.button-modal {
  background-color: rgba(#003366, 1);
  border-radius: 15px;
  width: 8.25rem;
  height: 2.315rem;
  margin-top: 0.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: Arvo, serif;
  font-size: 1.5rem;
  font-weight: lighter;
  line-height: 1rem;
  color: white;
}
.button-modal:hover {
  background-color: rgba(#003366, 0.85);
  color: white;
  transition: 0.2s;
}
.info-icon {
  float: left;
  fill: #0366d6;

  height: 16px;
  width: 14px;
}
.tooltip-sdg {
  margin-left: 5px;
  max-width: none !important;
}
.tooltip-sdg-arrow {
  margin-left: 5px;
}
.sdg-link {
  margin-top: 6px;
  margin-left: 5px;
  width: 14px;
  height: 16px;
}
