.project {
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.project-info {
  text-align: center;
  margin-top: 20px;
}

hr {
  border-width: 3px;
  border-radius: 2px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  font-size: 24px;
}

.tipcard-cols {
  display: flex;
  width: 100%;
  margin: 20px 0 20px 0;
  justify-content: space-evenly;
}
