.stage {
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}

.stage-title {
  padding-top: 20px;
  text-align: center;
}

.stage-video {
  text-align: center;
  padding-bottom: 30px;
}

.stage-description {
  text-align: justify;
  padding-top: 20px;
}
