body {
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Open Sans", sans-serif;
}

.page-title {
  padding: 30px;
}

.padded-container {
  padding: 30px;
}

.search-bar {
  margin-right: auto;
  margin-left: auto;
  padding: 30px;
  width: 50%;
}

.input {
  text-align: center;
}

.sdg-general-info {
  padding-bottom: 30px;
}

.sdg-card {
  margin: 0px;
}

.sdg-col {
  padding: 0px;
}

// .container {
//   position: relative;
//   width: 50%;
// }

// .image {
//   display: block;
//   width: 100%;
//   height: auto;
// }

// .overlay {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   left: 0;
//   right: 0;
//   height: 100%;
//   width: 100%;
//   opacity: 0;
//   transition: .5s ease;
//   background-color: #008CBA;
// }

// .container:hover .overlay {
//   opacity: 1;
// }

// .text {
//   color: white;
//   font-size: 20px;
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   -webkit-transform: translate(-50%, -50%);
//   -ms-transform: translate(-50%, -50%);
//   transform: translate(-50%, -50%);
//   text-align: center;
// }
